@import "tailwindcss";

/* Configura Tailwind v4 per utilizzare la classe .dark invece della media query di sistema */
@variant dark (&:where(.dark, .dark *));

/* Definizione delle variabili CSS per Light Mode e Dark Mode */
:root {
    --background: #F8FAFC;
    --header-bg: #FFFFFF;
    --footer-bg: #F1F5F9;
    --card-bg: #FFFFFF;
    --tag-bg: rgba(120, 180, 255, .14);
    --input-bg: var(--color-gray-200);
    --text: #0F172A;
    --routes-text: #475569;
    --header-text-highlight: #268CBD;
    --footer-text-highlight: #268CBD;
    --text-underline: #15607D;
    --btn-highlight: #268CBD;
}

/* Dark Mode manuale gestito tramite classe .dark */
.dark {
    --background: #020617;
    --header-bg: #0C1326;
    --footer-bg: #0C1326;
    --card-bg: #0D1527;
    --tag-bg: rgba(146, 185, 204, .1);
    --input-bg: var(--color-gray-700);
    --text: #F8FAFC;
    --routes-text: #94A3B8;
    --header-text-highlight: #92B9CC;
    --footer-text-highlight: #268CBD;
    --text-underline: #2D6B8C;
    --btn-highlight: #1F7CA9;
}

/* Estensione del tema di Tailwind CSS v4 */
@theme {
    --color-bg-main: var(--background);
    --color-bg-header: var(--header-bg);
    --color-bg-footer: var(--footer-bg);
    --color-bg-card: var(--card-bg);
    --color-bg-tag: var(--tag-bg);
    --color-bg-input: var(--input-bg);
    --color-main: var(--text);
    --color-route: var(--routes-text);
    --color-highlight: var(--header-text-highlight);
    --color-header-highlight: var(--header-text-highlight);
    --color-footer-highlight: var(--footer-text-highlight);
    --color-underline: var(--text-underline);
    --color-lang-selected: var(--lang-selected);
    --color-btn-highlight: var(--btn-highlight);
}

/* Applicazione dei colori di default a body e html */
html,
body {
    background-color: var(--background);
    color: var(--text);
    transition: background-color 0.3s ease, color 0.3s ease;
}