---
import {
    getLangFromUrl,
    useTranslations,
    useTranslatedPath,
} from "../i18n/utils";
import Layout from "../layouts/Layout.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<div id="biografia" class="mt-10 flex justify-center px-4">
    <div class="text-center max-w-5xl w-full">
        <h1
            class="text-4xl md:text-4xl font-bold text-main mb-4 drop-shadow-sm"
        >
            {t("wip")}
        </h1>
    </div>
</div>
