---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import skillsData from "../resources/skills.json";
import Pagination from "../components/Pagination.astro";
import EmptyState from "../components/EmptyState.astro";
import FiltersControlPanel from "../components/FiltersControlPanel.astro";
import type { CardRaw } from "../types/CardRaw";
import CardsGrid from "../components/CardsGrid.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const skills = skillsData as CardRaw[];
---

<div
    id="skills"
    class="mt-10 mb-5 flex flex-col items-center justify-center px-4 w-full"
>
    <div class="text-center max-w-lg w-full">
        <h1 class="text-4xl font-bold text-highlight mb-4 drop-shadow-sm">
            {t("nav.skills")}
        </h1>
        <p
            class="text-route max-w-2xl mx-auto font-semibold text-base md:text-lg mb-10 leading-relaxed"
        >
            {t("skills.subtitle")}
        </p>
    </div>

    <FiltersControlPanel
        translationPrefix="skills"
        categories={[
            "all",
            "languages",
            "frameworks",
            "systems_devops",
            "tools_design",
        ]}
    />

    <Pagination />

    <!-- Skills Grid -->
    <CardsGrid cards={skills} translationPrefix="skills" />

    <!-- Activates if no skill is found -->
    <EmptyState translationPrefix="skills" />
</div>

<style is:global>
    @import "../styles/cards-grid.css";
</style>

<script>
    import "../scripts/RenderOnScroll.ts";
    import { initCardsFilter } from "../scripts/CardsFilter.ts";

    function runFilter() {
        initCardsFilter({
            searchId: "skill-search",
            clearSearchId: "clear-search",
            categoryTabClass: ".category-tab",
            cardClass: ".card",
            noResultsId: "no-cards-msg",
            gridId: "cards-grid",
            paginationContainerId: "cards-pagination",
            pagPrevId: "pag-prev",
            pagNextId: "pag-next",
            pagNumbersId: "pag-numbers",
            scrollTargetId: "skills",
        });
    }

    runFilter();
    document.addEventListener("astro:after-swap", runFilter);
</script>
