<footer
    class="bg-bg-footer text-main py-4 px-6 shadow-sm grid grid-cols-2 items-center"
>
    <div class="pl-20 pt-5 pb-5 flex flex-col select-none justify-self-start">
        <span class="text-[20px] font-semibold leading-tight"
            >Angelo Trotta</span
        >
        <span class="text-[12px] opacity-80">Web & Software Developer</span>
        <span class="mt-10 text-[14px] text-route">
            © 2026 Angelo Trotta. Tutti i diritti riservati.<br />
            Il codice sorgente è disponibile su <a
                href="https://github.com/ShyVortex/angelo-website"
                target="_blank"
                rel="noopener noreferrer"
                class="text-footer-highlight hover:underline">GitHub</a
            > solo a scopo informativo e di studio. Per utilizzi derivati, contattami.</span
        >
    </div>
    <div class="pl-20 pt-5 pb-5 flex flex-col select-none justify-self-start">
        <nav class="flex gap-6 justify-self-center">
            <a
                href="#"
                class="text-[20px] text-route hover:text-header-highlight transition-colors"
                >Home</a
            >
            <a
                href="#"
                class="text-[20px] text-route hover:text-header-highlight transition-colors"
                >Biografia</a
            >
            <a
                href="#"
                class="text-[20px] text-route hover:text-header-highlight transition-colors"
                >CV</a
            >
            <a
                href="#"
                class="text-[20px] text-route hover:text-header-highlight transition-colors"
                >Skills</a
            >
            <a
                href="#"
                class="text-[20px] text-route hover:text-header-highlight transition-colors"
                >Portfolio</a
            >
            <a
                href="#"
                class="text-[20px] text-route hover:text-header-highlight transition-colors"
                >Contatti</a
            >
        </nav>
        <span class="mt-10 text-[14px] text-route">
            Sito web accessibile - <a
                href="https://eur-lex.europa.eu/legal-content/IT/TXT/?uri=CELEX:32019L0882"
                target="_blank"
                rel="noopener noreferrer"
                class="text-footer-highlight hover:underline"
                >Direttiva (UE) 2019/882 "European Accessibility Act (EAA)"</a
            >
        </span>
        <span class="mt-2 text-[14px] text-route">
            <a
                href="https://eur-lex.europa.eu/legal-content/IT/TXT/?uri=CELEX:32019L0882"
                target="_blank"
                rel="noopener noreferrer"
                class="text-footer-highlight hover:underline"
                >Informativa sulla Privacy</a
            >
        </span>
    </div>
</footer>
