<header
    class="bg-bg-header text-main py-4 px-6 shadow-sm grid grid-cols-3 items-center"
>
    <div class="flex items-center select-none justify-self-start">
        <img
            width="50"
            height="50"
            class="block mr-4 rounded-full shrink-0 object-cover"
            draggable="false"
            src="src/assets/commons/avatar.png"
        />
        <div class="flex flex-col">
            <span class="text-[20px] font-semibold leading-tight"
                >Angelo Trotta</span
            >
            <span class="text-[12px] opacity-80">Web & Software Developer</span>
        </div>
    </div>
    <nav class="flex gap-6 justify-self-center">
        <a
            href="#"
            class="text-[20px] text-route hover:text-header-highlight transition-colors"
            >Home</a
        >
        <a
            href="#"
            class="text-[20px] text-route hover:text-header-highlight transition-colors"
            >Biografia</a
        >
        <a
            href="#"
            class="text-[20px] text-route hover:text-header-highlight transition-colors"
            >CV</a
        >
        <a
            href="#"
            class="text-[20px] text-route hover:text-header-highlight transition-colors"
            >Skills</a
        >
        <a
            href="#"
            class="text-[20px] text-route hover:text-header-highlight transition-colors"
            >Portfolio</a
        >
        <a
            href="#"
            class="text-[20px] text-route hover:text-header-highlight transition-colors"
            >Contatti</a
        >
    </nav>
    <div class="flex items-center justify-self-end">
        <img
            width="35"
            height="35"
            class="block mr-4 rounded-full shrink-0 object-cover dark:invert cursor-pointer"
            draggable="false"
            src="src/assets/commons/search.svg"
        />
        <div>
            <span class="text-[16px]">ITA</span>
            <span class="text-[16px]">|</span>
            <span class="text-[16px]">ENG</span>
        </div>
        <img
            width="35"
            height="35"
            class="block ml-4 rounded-full shrink-0 object-cover dark:invert cursor-pointer"
            draggable="false"
            src="src/assets/commons/mode-switch.svg"
        />
    </div>
</header>
